@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One:ital@0;1&display=swap');
*
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Alumni Sans Inline One', cursive;
}

section
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("./images/fondo-azul-verde-abstracto-fondo-degradado-naturaleza-ventana-helada-vector_88211-2926.webp");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 50px;

}

.container
{
    position: relative;
    width: 70%;
    min-height: calc(100vh - 280px);
    min-height: 300px;
    background: rgba(255,255,255,0.5);
    box-shadow: 0 15px 35px rgba(0,0,0,0.05);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

header
{
    position: absolute;
    top: -40px;
    right: 20px;
    left: 20px;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255,255,255,0.2);
    box-shadow: 0 15px 35px rgba(0,0,0,0.05);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border:1px solid rgba(255,255,255,0.25);
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5) ;
}

header p
{
    display: flex;
    font-weight: 500;
    font-size: 2.5em;
}

.content
{
    transform: translateX(-100px);
    max-width: 800px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border:1px solid rgba(255,255,255,0.25);
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5) ;
    padding: 40px;
    padding-left: 110px;
}

input
{
    text-align: center;
    border: none;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    font-size: 1.5em;
    background: fixed;
    border:2px solid rgba(255,255,255,0.5);
 
}


.content p
{
    margin-top: 10px;
    margin-bottom: 10px;
}

button
{
    margin-top: 60px;
    padding: 15px 30px;
    background: #fff;
    color: darkblue;
    border-radius: 30px;
    font-size: 1.1em;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    border:1px solid rgba(255,255,255,0.25);
}

button:hover
{
    background: darkblue;   
    color: #fff;
    cursor: pointer;
}

.imgBox img
{
    max-width: 400px;
    animation: animate 5s linear infinite;
}

.imgBox h3
{
    font-size: 2.2em;
    margin-top: 60px;
    font-weight: 400;
}

#salida
{
    display: none;
}

#salida .text-input-salida
{
    border:2px solid blueviolet;
    height: 80px;
    width: 100%;
    text-align: center;
    font-size: 2em;
    letter-spacing: 2px;
    margin-top: 15px;
}



@keyframes animate
{
    0%,100%
    {
        transform: translateY(50px);
    }
    50%
    {
        transform: translateY(80px);
    }
}

.footer
{
    position: absolute;
    bottom: 20px;
    left: 50px;
    letter-spacing: 2px;
    font-style: italic;
}

@media (max-width:1200px) 
{
    .container
    {
        position: relative;
   
       
     
    }
}

@media (max-width:768px) 
{
    .container
    {
        position: relative;
        flex-direction: column;
        width: 100%;
    }

    .content
    {
        transform: translateX(0);
        margin-top: 20px;
        padding-left: 40px;
    }

    header p
    {
        display: flex;
        font-weight: 300;
        font-size: 2em;
        align-items: center;
        margin-left: 20px;
    }

    .footer
    {
        bottom: 10px;
        left: 200px;
    }
}

@media (max-width:430px) 
{
    .container
    {
        position: relative;
        flex-direction: column;
        width: 100%;
    }

    .content
    {
        transform: translateX(0);
        margin-top: 20px;
        padding-left: 40px;
    }

    header p
    {
        display: flex;
        font-weight: 200;
        font-size: 1em;
        align-items: center;
        margin-left: 20px;
    }

    input
    {
        width: 100%;
        height: 20px;
        border-radius: 5px;
        font-size: 0.8em;
    }


    .content p
    {
        font-size: 0.8em;
        text-align: center;
    }

    button
    {
        margin-top: 10px;
        padding: 10px 20px;
        background: #fff;
        color: darkblue;
        border-radius: 30px;
        font-size: 1em;
        box-shadow: 0 5px 10px rgba(0,0,0,0.1);
        border:1px solid rgba(255,255,255,0.25);
    }

    .imgBox img
    {
        max-width: 250px;
    }

    .imgBox h3
    {
        font-size: 1.8em;
        margin-top: 40px;
        font-weight: 300;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .imgBox p
    {
        text-align: center;
    }

    .footer
    {
      
        bottom: 10px;
        left: 50px;
    }

    @keyframes animate
    {
        0%,100%
        {
            transform: translateY(0px);
        }
        50%
        {
            transform: translateY(20px);
        }
    }

}



